.row
  .col-sm-12
    .page-header
      %h1 Email Requests

    .filter
      =form_tag(email_requests_path, method: :get, class: "form-inline") do
        =label_tag 'Filter by:'
        .form-group
          =select_tag 'status', options_for_select(@email_request_status_list, params[:status]), prompt: '-- choose a status --'
        .form-group
          =select_tag 'email_template_id', options_from_collection_for_select(@email_templates, :id, :name, params[:email_template_id]), prompt: '-- choose a template name --'
        =submit_tag "Go"

  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %th Email to
          %th Status
          %th Created at
      %tbody
        - @email_requests.each do |email_request|
          %tr
            %td= email_request.email_to
            %td= email_request.template_name
            %td= email_request.status.titleize
            %td=l email_request.created_at